<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FPTProject"
        tools:targetApi="31">
        <activity
            android:name=".uis.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uis.CreateDoctor"
            android:exported="false" />
        <activity
            android:name=".admin.PatientManager"
            android:exported="false" />
        <activity
            android:name=".admin.DoctorManager"
            android:exported="false" />
        <activity
            android:name=".uis.BookingAcitivty"
            android:exported="false" />
        <activity
            android:name=".uis.DoctorInfoActivity"
            android:exported="false" />
        <activity
            android:name=".uis.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".scrollView.QDSDActivity"
            android:exported="false" />
        <activity
            android:name=".scrollView.DKDVActivity"
            android:exported="false" />
        <activity
            android:name=".scrollView.CSBMActivity"
            android:exported="false" />
        <activity
            android:name=".scrollView.GuideScrollViewActivity"
            android:exported="false"
            android:theme="@style/Apptheme" />
        <activity
            android:name=".scrollView.IntroScrollViewActivity"
            android:exported="false"
            android:theme="@style/Apptheme" />
        <activity
            android:name=".uis.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".uis.LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".uis.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDsuvg0NL4pxjYLEE_zeoPS9s15lACN3h8" />
    </application>

</manifest>